- name: Configure the BIND9 DNS Server
  hosts: dns_servers
  become: yes
  
  tasks:
    
    - name: Generate the TSIG security key if it does not exist
      ansible.builtin.command:
        cmd: tsig-keygen -a hmac-sha256 ddns-key > /etc/bind/ddns.key
        creates: /etc/bind/ddns.key
      
    - name: Fetch the generated TSIG key to the Ansible controller
      ansible.builtin.fetch:
        src: /etc/bind/ddns.key
        dest: "ansible/fetched_keys/ddns.key"
        flat: yes
                
    - name: Include the DDNS key in the BIND9 options file
      ansible.builtin.blockinfile:
        path: /etc/bind/named.conf.options
        marker: "# {mark} ANSIBLE MANAGED DDNS KEY"
        block: |
          include "/etc/bind/ddns.key";
        state: present
        insertafter: 'options {'
                
    - name: Allow secure updates for the forward DNS zone
      ansible.builtin.blockinfile:
        path: /etc/bind/named.conf.local
        marker: "# {mark} ANSIBLE MANAGED ZONE example.test"
        block: |
          zone "example.test" {
              type master;
              file "/etc/bind/db.example.test";
              allow-update { key "ddns-key"; };
          };
        state: present
        
    - name: Allow secure updates for the reverse DNS zone
      ansible.builtin.blockinfile:
        path: /etc/bind/named.conf.local
        marker: "# {mark} ANSIBLE MANAGED ZONE 58.168.192.in-addr.arpa"
        block: |
          zone "58.168.192.in-addr.arpa" {
              type master;
              file "/etc/bind/db.192.168.58";
              allow-update { key "ddns-key"; };
          };
        state: present
        
    - name: Restart the BIND9 service to apply changes
      ansible.builtin.service:
        name: bind9
        state: restarted
- name: Configure the ISC DHCP Server
  hosts: dhcp_servers
  become: yes

  tasks:
    
    - name: Copy the TSIG key from the controller to the DHCP server
      ansible.builtin.copy:
        src: "ansible/fetched_keys/ddns.key"
        dest: /etc/dhcp/ddns.key
        owner: root
        group: root
        mode: '0644'

    - name: Configure global DDNS settings in dhcpd.conf
      ansible.builtin.blockinfile:
        path: /etc/dhcp/dhcpd.conf
        marker: "# {mark} ANSIBLE MANAGED DDNS STYLE"
        block: |
          ddns-update-style interim;
          ddns-domainname "example.test.";
          ddns-rev-domainname "58.168.192.in-addr.arpa.";
          include "/etc/dhcp/ddns.key";
        state: present
        insertbefore: 'subnet'

    - name: Define the DDNS update zones within the subnet configuration
      ansible.builtin.blockinfile:
        path: /etc/dhcp/dhcpd.conf
        marker: "# {mark} ANSIBLE MANAGED DDNS ZONES"
        block: |
          option domain-name-servers 192.168.58.10;
          
          zone example.test. {
            primary 192.168.58.10;
            key "ddns-key";
          }
          
          zone 58.168.192.in-addr.arpa. {
            primary 192.168.58.10;
            key "ddns-key";
          }
        state: present
        insertafter: 'subnet 192.168.58.0 netmask 255.255.255.0 {'
        
    - name: Restart the ISC DHCP service to apply changes
      ansible.builtin.service:
        name: isc-dhcp-server 
        state: restarted